*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040615;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 350px;
  height: 350px;
  border: 8px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.clock::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: aqua;
  position: absolute;
}

/* ************************** */
/* hand  */
/* ************************** */
.hand {
  transform-origin: bottom;
  position: absolute;
  bottom: 50%;
}

.hour {
  width: 8px;
  height: 100px;
  background-color: #fff;
}
.minute {
  width: 6px;
  height: 130px;
  background-color: rgb(234, 231, 226);
}
.second {
  width: 2px;
  height: 150px;
  background-color: rgb(76, 76, 137);
}

/* ************************** */
/* Scale  */
/* ************************** */
.scale {
  position: absolute;
  background-color: gainsboro;
  color: pink;
  font-size: 2rem;
  font-weight: bold;
}
.twelve,
.six {
  width: 5px;
  height: 15px;
}
.three,
.nine {
  width: 15px;
  height: 5px;
}
.twelve {
  top: 0;
}
.twelve::before {
  content: "12";
  position: absolute;
  margin-bottom: 0.5rem;
  bottom: 100%;
  transform: translateX(-50%);
}

.six {
  bottom: 0;
}
.six::before {
  content: "6";
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  margin-top: 0.5rem;
}

.three {
  right: 0;
}
.three::before {
  content: "3";
  position: absolute;
  margin-left: 1rem;
  left: 100%;
  transform: translateY(-40%);
}

.nine {
  left: 0;
}
.nine::before {
  content: "9";
  position: absolute;
  right: 100%;
  margin-right: 1rem;
  transform: translateY(-40%);
}
p {
  margin-top: 2rem;
  padding-top: 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
