* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  width: 60%;
  padding: 1rem;
  height: 80vh;
  box-shadow: 1px 1px 20px black;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  overflow-y: scroll;
}
input {
  display: block;
  margin: 0 auto 1rem;
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
}

li {
  background-color: rgba(249, 249, 249);
  padding: 1.5em 1em;
  display: flex;
  justify-content: space-between;
}
li .name {
  font-weight: bold;
}
li .population {
  font-size: 0.875rem;
  font-weight: lighter;
}

li + li {
  margin-top: 1em;
}
