*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  text-transform: uppercase;
  color: #fff;
}

/* ***************************************** */
/* gallery wrapper */
/* ***************************************** */
.gallery__wrapper {
  height: 100%;
  display: flex;
}

/* ***************************************** */
/* each panel */
/* ***************************************** */
.panel {
  flex: 1;
  min-width: 10%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  text-align: center;
  transition: all 1s ease-in;
}
.panel p {
  position: relative;
}
.panel > p:first-child {
  font-size: 1.25rem;
  top: -100%;
  transition: all 1s ease-in;
}
.panel-heading {
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.25rem;
  letter-spacing: 1.7;
}
.panel > p:last-child {
  font-size: 1.5rem;
  top: 120%;
  transition: all 1s ease-in;
}

/* ***************************************** */
/* open action */
/* ***************************************** */
.open {
  flex-basis: 100%;
}
.open.panel > p:first-child {
  top: 40%;
}
.open.panel > p:last-child {
  top: 55%;
}

/* ***************************************** */
/* panel's background-image */
/* ***************************************** */

.panel1 {
  background-image: url("./assets/pexels-anna-rye-8402387.jpg");
}
.panel2 {
  background-image: url("./assets/pexels-pixabay-37403.jpg");
}
.panel3 {
  background-image: url("./assets/pexels-izaac-elms-8722621.jpg");
}
.panel4 {
  background-image: url("./assets/pexels-noÄman-hatice-8238749.jpg");
}
.panel5 {
  background-image: url("./assets/pexels-svetlana-afonina-9730534.jpg");
}
